aws_region       = "ap-south-1"
project_name     = "bmi-health-tracker"
environment      = "dev"
instance_type    = "t3.medium"
key_name         = "sarowar-ostad-mumbai"
allowed_ssh_cidr = "182.163.107.50/32"   # run: curl ifconfig.me
subnet_id        = "subnet-0596d18a27a91b24e"
vpc_id           = "vpc-0be847e2ada314b52"   # replace with your actual VPC ID